:root {
    --federal-blue: #03045eff;
    --marian-blue: #023e8aff;
    --process-cyan: #48acd3ff;
    --non-photo-blue: #90e0efff;
    --light-cyan: rgb(169, 213, 222);
    --baby-powder: rgb(240, 241, 234);
    --night: #121212ff;
  }

  .action-btns {
    padding: 0.2rem;
    color: var(--marian-blue);
    background-color: var(--baby-powder);
    border-radius: 4px;
    transition: color ease-in-out 0.3s;
    border: solid var(--marian-blue) 2px;
    height: 2rem;
  }
  
  #translate-btn{
    color: var(--baby-powder);
    background-color: var(--marian-blue);
  }
  
  .action-btns:hover {
    color: var(--baby-powder);
    background-color: var(--federal-blue);
    cursor: pointer;
  
  }
  
  #translate-btn:hover {
    color: var(--baby-powder);
    background-color: var(--federal-blue);
    cursor: pointer;
  
  }