:root {
  --federal-blue: #03045eff;
  --marian-blue: #023e8aff;
  --process-cyan: #48acd3ff;
  --non-photo-blue: #90e0efff;
  --light-cyan: rgb(169, 213, 222);
  --baby-powder: rgb(240, 241, 234);
  --night: #121212ff;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Figtree, sans-serif;
  font-weight: 600;
  font-style: normal;
}

body {
  min-height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
  background: linear-gradient(var(--baby-powder)20%, var(--process-cyan));
  color: var(--federal-blue);
}

.app-container {
  min-width: 40rem;
  height: auto;
  padding: 2rem;
  display: flex;
  justify-content: center;
  text-align: center;
  align-items: center;
  background-color: rgba(240, 241, 234, 0.548);
  border-radius: 2rem;

  & h3 {
    font-size: 1rem;
    line-height: 3rem;
  }
}

.myLogo {
  height: 8rem;
}

.introduction {
  filter: drop-shadow(2px 3px 2px rgba(0, 0, 0, 0.225));
}

.action-btns {
  padding: 0.2rem;
  color: var(--marian-blue);
  background-color: var(--baby-powder);
  border-radius: 4px;
  transition: color ease-in-out 0.3s;
  border: solid var(--marian-blue) 2px;
  height: 2rem;
}

#translate-btn{
  color: var(--baby-powder);
  background-color: var(--marian-blue);
}

.action-btns:hover {
  color: var(--baby-powder);
  background-color: var(--federal-blue);
  cursor: pointer;

}

#translate-btn:hover {
  color: var(--baby-powder);
  background-color: var(--federal-blue);
  cursor: pointer;

}


.textbox-contain {
  display: flex;
  flex-direction: column;
  width: 22rem;
  padding: 1.2rem;
  height: auto;
  justify-content: space-between;
  align-items: center;
  background-color: antiquewhite;

  & label {
    align-self: baseline;
    color: var(--marian-blue);
    font-size: 0.8rem;
  }
}

.textbox {
  resize: none;
  text-align: center;
  align-content: center;
  height: 5rem;
  width: 20rem;
  border: solid 1.8px var(--marian-blue);
  border-radius: 12px
}

.button-cont {
  display: flex;
  gap: 1rem;
  padding: 1rem;
}