:root {
  --federal-blue: #03045eff;
  --marian-blue: #023e8aff;
  --process-cyan: #48acd3ff;
  --non-photo-blue: #90e0efff;
  --light-cyan: rgb(169, 213, 222);
  --baby-powder: rgb(240, 241, 234);
  --night: #121212ff;
}

.textbox-contain {
  display: flex;
  flex-direction: column;
  width: 25rem;
  padding: 1.2rem;
  height: auto;
  justify-content: space-between;
  align-items: center;

  & label {
    align-self: baseline;
    color: var(--marian-blue);
    font-size: 0.8rem;
  
  }
}

.textbox {
  resize: none;
  text-align: center;
  align-content: center;
  height: 5rem;
  width: 23rem;
  background-color: var(--baby-powder);
  border: solid 1.8px var(--marian-blue);
  border-radius: 12px;
  text-align: start;
  align-content: flex-start;
  padding: 0.8rem;
}


#translated-phrase:hover {
  cursor: not-allowed;
}

  .action-btns:hover {
    color: var(--baby-powder);
    background-color: var(--federal-blue);
    cursor: pointer;
  
  }

    .action-btns {
    padding: 0.2rem;
    color: var(--marian-blue);
    background-color: var(--baby-powder);
    border-radius: 4px;
    transition: color ease-in-out 0.3s;
    border: solid var(--marian-blue) 2px;
    height: 2rem;
  }
  
  #switch-context{
    margin: 2rem;
  }