:root {
  --federal-blue: #03045eff;
  --marian-blue: #023e8aff;
  --process-cyan: #48acd3ff;
  --non-photo-blue: #90e0efff;
  --light-cyan: rgb(169, 213, 222);
  --baby-powder: rgb(240, 241, 234);
  --night: #121212ff;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Figtree, sans-serif;
  font-weight: 600;
  font-style: normal;
}

body {
  min-height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
  background: linear-gradient(var(--baby-powder)20%, var(--process-cyan));
  color: var(--federal-blue);
}

.app-container {
  min-width: 40rem;
  height: auto;
  padding: 2rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  align-items: center;
  background-color: rgba(240, 241, 234, 0.548);
  border-radius: 2rem;
  margin-bottom: 3rem;

  & h3 {
    font-size: 1rem;
    line-height: 3rem;
  }
}

.myLogo {
  height: 8rem;
}

.introduction {
  filter: drop-shadow(2px 3px 2px rgba(0, 0, 0, 0.225));
}



